.ui.checkbox.sticker input[type="checkbox"]:checked+label {
	background-color: #EEE;
	border-radius: 5%;
}

.ui.checkbox.sticker img {
	cursor: pointer;
}

.ui.inverted.vertical.footer.segment {
	margin-top: 10px;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.ui.container {
	flex: 1;
}

.footer-container {
	text-align: center;
}

.stickerlist {
	overflow: auto;
	max-height: 90vh;
	white-space: nowrap;
}


.thumbcardlist {
	overflow: auto;
	max-height: 85vh;
}


@media only screen and (max-width: 767px) {
	.stickerlist .field {
		display: inline;
	}
	.ui.checkbox.sticker img {
		max-width: 20vw;
	}
}
